<%- include("partials/header") -%>

<h1>Home</h1>
<p> <%= content1 %> </p>

<form class="" action="/compose" method="get">
  <button type="submit" class="btn btn-light" name="button">Create a new post!</button>
</form>

<% /* %>
<% for (var i=0;i<post.length;i++){%>
  <% console.log(post[i].title+", "+i) %>
  <h1><%=post[i].title%></h1>
  <p><%=post[i].body%></p>
<%}%>
<% */ %>

<% post.forEach(function(item){%>
  <h1><%=item.title%></h1>
  <p><%=item.body%></p>
  <a href="<%= item.link %>">Read more</a>
<% }) %>


<%- include("partials/footer") -%>
