<%- include("partials/header") -%>

<h1>Home</h1>
<p> <%= startingContent %> </p>

<form class="" action="/compose" method="get">
  <button type="submit" class="btn btn-light" name="button">Create a new post!</button>
</form>

<% /* %>
<% for (var i=0;i<post.length;i++){%>
  <% console.log(post[i].title+", "+i) %>
  <h1><%=post[i].title%></h1>
  <p><%=post[i].body%></p>
<%}%>
<% */ %>
<% const maxletter=100;%>
<% var contentstring="";%>
<% posts.forEach(function(item){%>
  <h1><%=item.title%></h1>
  <% if(item.content.length>maxletter){%>
  <%  contentstring=item.content.substring(0, 100) + " ...";%>
  <%} else {%>
  <%  contentstring=item.content;%>
  <%}%>
  <p><%=contentstring%>
  <% const itemid="/posts/"+item._id; %>
  <a href="<%= itemid %>">Read more</a>
<% }) %>


<%- include("partials/footer") -%>
